@model List<YemERP.DomainLayer.Entities.Concrete.NetsisIsemriTbl>
@{
    ViewData["Title"] = "SevkiyatListe";
}






<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yem Fabrikası Paketleme Sevkiyat Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>KeyNo</th>
                    <th>Plaka</th>
                    <th>Tarih</th>
                    <th>Sipariş No</th>
                    <th>Yem Kodu</th>
                    <th>Miktar</th>
                    <th>Sarım Durumu</th>
                    <th>Sevk Et</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.INCKEYNO</td>
                        <td>@item.PLAKA</td>
                        <td>@item.KAYITTARIHI</td>
                        <td>@item.SIPARISNO</td>
                        <td>@item.MALNO</td>
                        <td>@item.MIKTAR</td>
                        <td>@item.URETILDI</td>
                        @if (item.URETILDI == 0)
                        {
                            <td><a asp-action="Edit" asp-controller="Sevkiyat" asp-route-INCKEYNO="@item.INCKEYNO" class="btn btn-block btn-danger">Sevk Et</a></td>
                        }
                        else
                        {
                            <td><a class="btn btn-block btn-info">Sevk Edildi</a></td>
                        }


                    </tr>
                }

            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>




